/* footer.css */
.main-footer {
    width: 100%;
    background-color: #050505;
    padding: 140px 0 30px 0; 
    
    margin-top: auto;
    position: relative; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 
}
.main-footer::before {
    content: "";
    position: absolute;
    top: 130px;                
    left: 0;
    width: 100%;
    height: 1px;              
    background-color: #ff0055;
    opacity: 0.9;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* 저작권 및 링크 폰트 (작고 깔끔하게 유지) */
.footer-copyright p {
    color: #00f2ff;
    font-size: 0.75rem; 
    letter-spacing: 0.5px;
    margin: 0;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.neon-link {
    color: #00f2ff;
    text-shadow: 0 0 5px rgba(0, 242, 255, 0.5);
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8rem; 
    transition: all 0.3s ease;
}

.neon-link:hover {
    color: #ff0055;
    text-shadow: 0 0 8px #ff0055;
}

.sep {
    color: #ff0055;
    font-weight: bold;
    font-size: 0.75rem;
}