/* home.css */
.retro-body {
    background-color: #050505;
    margin: 0;
}

.main-container {
    padding: 80px 50px;
    color: #00f2ff;
    font-family: 'Courier New', monospace;
}

.retro-pick-title {
    font-size: 2.2rem;
    border-left: 6px solid #ff0055;
    padding-left: 20px;
    text-shadow: 0 0 10px #00f2ff;
    margin-bottom: 10px;
}

.welcome-msg {
    margin-bottom: 50px;
    font-size: 1.1rem;
}

.music-list-area {
    border: 1px dashed #ff0055;
    padding: 40px;
    text-align: left;
    color: #00f2ff;
}